extends ../layouts/master.pug

block content
    include ../includes/components/full_presentation.pug
    include ../includes/components/presentation_card.pug
    include ../includes/components/presentation_card_inverse.pug
    include ../includes/components/features_card.pug
    include ../includes/components/benefits_cards.pug
    include ../includes/components/cta_header.pug