.nf-heading-container
    .nf-heading
        h1(data-aos="zoom-in" data-aos-delay="100" data-aos-once="true") Beneficios
        h3(data-aos="zoom-in" data-aos-delay="150" data-aos-once="true") ¿Qué ganas?
.nf-benefits-container
    .nf-benefit
        .nf-benefit-info(class="order-2 md:order-1")
            h1 Ejemplo 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab incidunt veritatis consequuntur modi iure harum saepe fuga facilis omnis molestias eveniet eum blanditiis quod enim, nesciunt accusamus ut delectus. Velit?
        .nf-benefit-image(class="order-1 md:order-2")
            img(src="./img/undraw_discount_d4bd.png" alt="sample")
    .nf-benefit
        .nf-benefit-info(class="order-2 md:order-2")
            h1 Ejemplo 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab incidunt veritatis consequuntur modi iure harum saepe fuga facilis omnis molestias eveniet eum blanditiis quod enim, nesciunt accusamus ut delectus. Velit?
        .nf-benefit-image(class="order-1 md:order-1")
            img(src="./img/undraw_discount_d4bd.png" alt="sample")
    .nf-benefit
        .nf-benefit-info(class="order-2 md:order-1")
            h1 Ejemplo 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab incidunt veritatis consequuntur modi iure harum saepe fuga facilis omnis molestias eveniet eum blanditiis quod enim, nesciunt accusamus ut delectus. Velit?
        .nf-benefit-image(class="order-1 md:order-2")
            img(src="./img/undraw_discount_d4bd.png" alt="sample")