.nf-features-heading-container
    .nf-features-heading
        h1 Apoyo
        h3 ¿Porqué lo requerimos?
.nf-features-container
    .nf-features-card
        .nf-features-card-space
            .nf-features-card-icon
                i.fas.fa-clock.fa-2x
            .nf-features-card-body
                h1 Mantenimiento y actualizaciones del sitio
                p Para siempre estar al día y poder traerte nuevas funciones es imprescindible tener alguien quien apoye en la área tecnica.

    .nf-features-card
        .nf-features-card-space
            .nf-features-card-icon
                i.fas.fa-times.fa-2x
            .nf-features-card-body
                h1 Cero Anuncios
                p ¿Odias los anuncios? Nosotros también, por lo que nuestro sitio es libre de ello, mas que banners no invasivos de nuestros partners, por lo que tu experiencia será placentera.

    .nf-features-card
        .nf-features-card-space
            .nf-features-card-icon
                i.fas.fa-cogs.fa-2x
            .nf-features-card-body
                h1 Tiempo
                p Ya que varios usan su tiempo libre o lo toman como un trabajo personal, es importante poder motivarles para producir mas contenido para ti.