.nf-full-presentation
    .nf-full-content
        .nf-full-block.nf-full-title
            .nf-full-header
                h1 Reviews
                h3 como nunca
            .nf-full-paragraph
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae mollitia facere eaque dolor, harum explicabo, beatae maiores atque repudiandae culpa reprehenderit.
            .nf-full-links
                a(href="#!") Ver más
        .nf-full-block.nf-full-image
            img(src="./img/nura.png", alt="audio")
    svg.nf-full-svg-waves(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320')
        path(fill='#0099ff' fill-opacity='1' d='M0,160L26.7,149.3C53.3,139,107,117,160,106.7C213.3,96,267,96,320,122.7C373.3,149,427,203,480,202.7C533.3,203,587,149,640,133.3C693.3,117,747,139,800,170.7C853.3,203,907,245,960,266.7C1013.3,288,1067,288,1120,240C1173.3,192,1227,96,1280,74.7C1333.3,53,1387,107,1413,133.3L1440,160L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z')






