// BEGINS PRESENTATION CARD COMPONENT
style.
    .nf-image-block::before {
        background-image: url('./img/test_diego_1.jpg');
    }
.nf-presentation-card
    .nf-presentation-block.nf-image-block
        .nf-title-image
            h1 Cambie la manera de ver reviews
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa vel non ad? Ullam et repellendus doloremque! Est ex autem ducimus doloribus? Vitae explicabo delectus non, facere quasi suscipit unde deleniti.
    .nf-presentation-block.nf-info-block
        .nf-info-header
            h1 ¿Que encontraras aquí?
        .nf-info-specs
            ul
                li
                    i.fa.fa-check-circle
                    |  Contenido Objetivo
                li
                    i.fa.fa-check-circle
                    |  Reviews de Audio
                li
                    i.fa.fa-check-circle
                    |  Noticias sobre el mundo del audio
                li
                    i.fa.fa-check-circle
                    |  Comparativas

// ENDS PRESENTATION CARD COMPONENT