// BEGINS PRESENTATION CARD COMPONENT
style.
    #nf-image-2::before {
        background-image: url('./img/test_diego_2.jpg');
    }
.nf-presentation-card 
    .nf-presentation-block.nf-info-block(class="order-2 md:order-1")
        .nf-info-header(data-aos="slide-right" data-aos-delay="50" data-aos-once="true")
            h1 ¿Que encontraras aquí?
        .nf-info-specs(data-aos="slide-right" data-aos-delay="50" data-aos-once="true")
            ul
                li
                    i.fa.fa-check-circle
                    |  Contenido Objetivo
                li
                    i.fa.fa-check-circle
                    |  Reviews de Audio
                li
                    i.fa.fa-check-circle
                    |  Noticias sobre el mundo del audio
                li
                    i.fa.fa-check-circle
                    |  Comparativas
    #nf-image-2.nf-presentation-block.nf-image-block(class="order-1 md:order-2")
// ENDS PRESENTATION CARD COMPONENT