.nf-small-cta
  .nf-small-cta-container
    h2
      span ¿Deseas apoyar?
      span Descubre como
    .nf-small-cta-buttons
      div
        a.inline-flex.items-center.justify-center.nf-btn-primary(href='#')
          | Soporte
      div
        a.inline-flex.items-center.justify-center.nf-btn-light(href='#')
          | Contacto
