.nf-small-cta
  .nf-small-cta-container
    h2(data-aos="zoom-in" data-aos-delay="50" data-aos-once="true")
      span ¿Deseas apoyar?
      span Descubre como
    .nf-small-cta-buttons(data-aos="zoom-in" data-aos-delay="100" data-aos-once="true")
      div
        a.inline-flex.items-center.justify-center.nf-btn-primary(href='#')
          | Soporte
      div
        a.inline-flex.items-center.justify-center.nf-btn-light(href='#')
          | Contacto
