.nf-team-stack
    .nf-team-title
        h1 Nuestro Equipo
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim facilis eos ipsa nulla libero ducimus error quidem voluptas dolor assumenda vitae voluptatum, similique suscipit saepe natus eveniet, cum accusamus!

    .nf-team-container
        .nf-team-card
            img(src="./img/koneko.jpg", alt="")
            .nf-team-card-content
                h1 Natalie Paisley
                h4 Credit Analyst
                .nf-team-links
                    a(href="")
                        i.fab.fa-facebook
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-reddit
        .nf-team-card
            img(src="./img/koneko.jpg", alt="")
            .nf-team-card-content
                h1 Natalie Paisley
                h4 Credit Analyst
                .nf-team-links
                    a(href="")
                        i.fab.fa-facebook
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-reddit

        .nf-team-card
            img(src="./img/koneko.jpg", alt="")
            .nf-team-card-content
                h1 Natalie Paisley
                h4 Credit Analyst
                .nf-team-links
                    a(href="")
                        i.fab.fa-facebook
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-reddit
        .nf-team-card
            img(src="./img/koneko.jpg", alt="")
            .nf-team-card-content
                h1 Natalie Paisley
                h4 Credit Analyst
                .nf-team-links
                    a(href="")
                        i.fab.fa-facebook
                    a(href="")
                        i.fab.fa-twitter
                    a(href="")
                        i.fab.fa-reddit
        