.nf-cta-small-container {
    @apply bg-#{$theme-color-nf}-800 flex p-16;

    .nf-cta-small-text{
        @apply w-1/2;
    }

    .nf-cta-small-image{
        @apply w-1/2;
        display: grid;
        position: relative; // imperative for the overlapping to work
        grid-template-columns: repeat(12, 1fr);
        .nf-cta-image-item{
            &.nf-item-top{
                grid-row: 1;
                grid-column: 1 / span 8;
                padding-top: 20%; // slightly arbitrary, keeps proportion once resized
                z-index: 1;
                @apply h-56 w-56;
            }

            &.nf-item-bottom{
                grid-column: 4 / -1;
                grid-row: 1;
                img {
                    @apply h-40 w-40;
                }
            }

            img {
                @apply rounded-full;
            }
        } 
    }
}